nav {
  margin-bottom: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  text-align: center;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 44%}
    50%{background-position:100% 57%}
    100%{background-position:0% 44%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 44%}
    50%{background-position:100% 57%}
    100%{background-position:0% 44%}
}
@keyframes AnimationName {
    0%{background-position:0% 44%}
    50%{background-position:100% 57%}
    100%{background-position:0% 44%}
}

.header {
  margin-left: 1em;
  font-size: 3em;
}

#logo {
  max-width: 10em;
  height: auto;
}

.spot {
  max-height: 20em;
  width: auto;
}

.donors {
  max-height: 24em;
  width: auto;
}

.home {
  height: 100vh;
  width: 100vw;
}

body {
  background: linear-gradient(35deg, #ebf6f3, #8ecdbc, #2e3eeb);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 22s ease infinite;
  -moz-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
}

.two {
  height: 100vh;
  width: 100vw;
  background: white;
}
